<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzf.dao.BizDocumentMapper" >
  <resultMap id="BaseResultMap" type="com.lzf.entity.BizDocument" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="is_available" property="isAvailable" jdbcType="BIT" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="serial_num" property="serialNum" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="VARCHAR" />
    <result column="delete_at" property="deleteAt" jdbcType="TIMESTAMP" />
    <result column="cities" property="cities" jdbcType="LONGVARCHAR" />
    <result column="check_remark" property="checkRemark" jdbcType="LONGVARCHAR" />
    <result column="update_remark" property="updateRemark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.lzf.entity.BizDocument" >
    insert into biz_document (id, company_id, parent_id, 
      `type`, `sequence`, is_available, 
      created_by, created_on, is_delete, 
      `status`, serial_num, data_type, 
      delete_at, cities, check_remark, 
      update_remark)
    values (#{id,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER}, #{isAvailable,jdbcType=BIT}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdOn,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT}, 
      #{status,jdbcType=VARCHAR}, #{serialNum,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, 
      #{deleteAt,jdbcType=TIMESTAMP}, #{cities,jdbcType=LONGVARCHAR}, #{checkRemark,jdbcType=LONGVARCHAR}, 
      #{updateRemark,jdbcType=LONGVARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, company_id, parent_id, `type`, `sequence`, is_available, created_by, created_on, 
    is_delete, `status`, serial_num, data_type, delete_at, cities, check_remark, update_remark
    from biz_document
  </select>
  <insert id="insertList" parameterType="com.lzf.entity.BizDocument" >
    insert into biz_document (id, company_id, parent_id,
    `type`, `sequence`, is_available,
    created_by, created_on, is_delete,
    `status`, serial_num, data_type,
    delete_at, cities, check_remark,
    update_remark)
    values
    <foreach collection="list" index="index" item="pojo" separator=",">
    (#{pojo.id,jdbcType=VARCHAR}, #{pojo.companyId,jdbcType=VARCHAR}, #{pojo.parentId,jdbcType=VARCHAR},
    #{pojo.type,jdbcType=VARCHAR}, #{pojo.sequence,jdbcType=INTEGER}, #{pojo.isAvailable,jdbcType=BIT},
    #{pojo.createdBy,jdbcType=VARCHAR}, #{pojo.createdOn,jdbcType=TIMESTAMP}, #{pojo.isDelete,jdbcType=BIT},
    #{pojo.status,jdbcType=VARCHAR}, #{pojo.serialNum,jdbcType=VARCHAR}, #{pojo.dataType,jdbcType=VARCHAR},
    #{pojo.deleteAt,jdbcType=TIMESTAMP}, #{pojo.cities,jdbcType=LONGVARCHAR}, #{pojo.checkRemark,jdbcType=LONGVARCHAR},
    #{pojo.updateRemark,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
</mapper>