<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzf.dao.BizVisitMapper" >
  <resultMap id="BaseResultMap" type="com.lzf.entity.BizVisit" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="is_available" property="isAvailable" jdbcType="BIT" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="serial_num" property="serialNum" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="VARCHAR" />
    <result column="delete_at" property="deleteAt" jdbcType="TIMESTAMP" />
    <result column="check_remark" property="checkRemark" jdbcType="LONGVARCHAR" />
    <result column="update_remark" property="updateRemark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from biz_visit
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lzf.entity.BizVisit" >
    insert into biz_visit (id, company_id, is_available, 
      created_by, created_on, is_delete, 
      `status`, serial_num, data_type, 
      delete_at, check_remark, update_remark
      )
    values (#{id,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{isAvailable,jdbcType=BIT}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdOn,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT}, 
      #{status,jdbcType=VARCHAR}, #{serialNum,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, 
      #{deleteAt,jdbcType=TIMESTAMP}, #{checkRemark,jdbcType=LONGVARCHAR}, #{updateRemark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lzf.entity.BizVisit" >
    update biz_visit
    set company_id = #{companyId,jdbcType=VARCHAR},
      is_available = #{isAvailable,jdbcType=BIT},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT},
      `status` = #{status,jdbcType=VARCHAR},
      serial_num = #{serialNum,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR},
      delete_at = #{deleteAt,jdbcType=TIMESTAMP},
      check_remark = #{checkRemark,jdbcType=LONGVARCHAR},
      update_remark = #{updateRemark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, company_id, is_available, created_by, created_on, is_delete, `status`, 
    serial_num, data_type, delete_at, check_remark, update_remark
    from biz_visit
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, company_id, is_available, created_by, created_on, is_delete, `status`, 
    serial_num, data_type, delete_at, check_remark, update_remark
    from biz_visit
  </select>

  <insert id="insertList" parameterType="com.lzf.entity.BizVisit" >
    insert into biz_visit (id, company_id, is_available,
    created_by, created_on, is_delete,
    `status`, serial_num, data_type,
    delete_at, check_remark, update_remark
    )
    values
    <foreach collection="list" index="index" item="pojo" separator=",">
    (#{pojo.id,jdbcType=VARCHAR}, #{pojo.companyId,jdbcType=VARCHAR}, #{pojo.isAvailable,jdbcType=BIT},
    #{pojo.createdBy,jdbcType=VARCHAR}, #{pojo.createdOn,jdbcType=TIMESTAMP}, #{pojo.isDelete,jdbcType=BIT},
    #{pojo.status,jdbcType=VARCHAR}, #{pojo.serialNum,jdbcType=VARCHAR}, #{pojo.dataType,jdbcType=VARCHAR},
    #{pojo.deleteAt,jdbcType=TIMESTAMP}, #{pojo.checkRemark,jdbcType=LONGVARCHAR}, #{pojo.updateRemark,jdbcType=LONGVARCHAR}
    )
    </foreach>
  </insert>
</mapper>